@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family : "PP Formula";
    src         : url('/fonts/PPFormula-ExtendedBold-1.ttf');
    font-style  : normal;
    font-display: swap;
}

* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    list-style     : none;
    text-decoration: none;
    outline        : none;
    border         : none;
}

html,
body {
    width      : 100%;
    height     : 100%;
    background : #ffffff;
    font-family: "Space Mono", sans-serif;
}

img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

.website-content {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
    z-index : 0;
}

.website-content .main {
    width    : 800px;
    position : absolute;
    top      : 50%;
    left     : 50%;
    transform: translate(-50%, -50%);
}

nav {
    position       : fixed;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    z-index        : 2;
}

.logo img {
    width        : 80px;
    border-radius: .55em;
    margin-top   : .5em;
    margin-left  : 1em;
}

.logo-nav img {
    width        : 300px;
    border-radius: .25em;
    margin-right : 1.4em;
}

.toggle-btn {
    margin-right: 1em;
}

.burger {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 1.5em;
    background     : #ffffff;
    border-radius  : .25em;
    height         : 20px;
    width          : 28px;
    transition     : all 250ms ease-out;
    cursor         : pointer;
}

.burger::before,
.burger::after {
    content    : '';
    width      : 28px;
    height     : 1.5px;
    position   : absolute;
    background : #000;
    transition : all 250ms ease-out;
    will-change: transform;
}

.burger::before {
    transform: translateY(-3px);
}

.burger::after {
    transform: translateY(3px);
}

.active.burger::before {
    transform : translateY(0) rotate(45deg);
    background: #000;
}

.active.burger::after {
    transform : translateY(0) rotate(-45deg);
    background: #000;
}

.active:hover.burger::after,
.active:hover.burger::before {
    background: #ffffff;
}

.burger:hover::before,
.burger:hover::after {
    background: #287b86;
    transition: all 1s ease-out;
}

.burger:hover {
    background: #000;
    transition: all 1s ease-out;
}

.overlay {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100vw;
    height  : 100vh;
    display : flex;
}

.block {
    flex        : 1;
    height      : 100%;
    background  : #000;
    clip-path   : polygon(0 0, 100% 0, 100% 0, 0 0);
    margin-right: -2px;
}

.overlay-menu {
    position       : fixed;
    top            : 0;
    left           : 0;
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
    color          : #ffffff;
    padding        : 5em 5em;
}

.menu-title {
    width          : 100%;
    opacity        : 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 1em;
    font-size      : 14px;
    text-transform : uppercase;
}

.menu-item {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    gap           : .7em;
    margin-top    : 1.5em;
    height        : 100%;
    opacity       : 0;
}

.menu-item a {
    font-family   : "PP Formula", sans-serif;
    font-size     : 4vw;
    height        : 100%;
    color         : #ffffff;
    text-transform: uppercase;
}

.menu-item a:hover {
    color     : #287b86;
    transition: all 2s ease-out;
}

.menu-item a span {
    font-size: 4.5vw;
}


/**------------------- MEDIA QUERIES---------------------*/

@media screen and (max-width:900px) {
    .logo-nav img {
        display: none;
    }

    .website-content .main {
        width: 500px;
    }

    .menu-title {
        margin-top   : 0;
        margin-bottom: 2.5em;
    }

}

@media screen and (max-width: 600px) {
    .logo img {
        width: 60px;
    }

    .website-content .main {
        width: 300px;
    }

    .burger {
        padding: 1em;
    }

    .burger::before,
    .burger::after {
        width: 20px;
    }



}